* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  background: url("../img/img/Sections-background/section-1-header.jpg")
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* flex conteiner  */
.home, .option, .our_services, .our_services_header, 
.purchase_section_container, .our_amazing_work_container, 
.breaking_news_container, .people_say, .gallery_container, .reviewer_container{ 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
/* flex menu */
.services_menu_item, .works_menu_item, .reviewer_photos_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
section, header {
  width: 100vw;
  margin: 0 auto;
}
/* header*/
.header_container,
.menu_header_list,
.logo {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header_background {
  width: 100vw;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  position: absolute;
}
.logo {
  color: #fff;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
}
.logo .green_text {
  font-weight: 700;
}
.menu_list_item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 21px;
  text-decoration: none;
}
/* home */
.home_first_line {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.two_green_line{
  margin-top: 24px;
  height: 8px;

}

.home {
  gap: 22px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 264px;
}
.home h1 {
  font-size: 78px;
  font-weight: 700;
}
.home_third_line {
  color: rgba(212, 212, 212, 1);
  font-size: 34px;
  font-weight: 400;
}
.green_text {
  color: #18cfab;
}
.home_buttons {
  display: flex;
  gap: 26px;
  margin: 129px;
}
.btn {
  width: 169px;
  height: 63px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.button_white_background {
  background: url(../img/img/Home-section/Rectangle\ white.svg) no-repeat;
  position: relative;
}

.explore {
  background: url(../img/img/Home-section/Rectangle\ green.svg) no-repeat;
  position: absolute;
  top: 4px;
  left: 1px;
}
.purchase_header {
  background: url(../img/img/Home-section/Rectangle\ blue.svg) no-repeat;
  position: absolute;
  top: 4px;
}

/* four_option */
.four_option {
  display: flex;
  border-top: 10px solid #fff;
}

.option {
  flex-basis: 25%;
  height: 377px;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.dark_background {
  background-color: #1c2a33;
  gap: 49px;
  color: #18cfab;
}
.light_background {
  background-color: #18cfab;
  gap: 59px;
  color: #fff;
}

/* our_services */
.our_services {
  width: 100vw;
  height: 551px;
  background-color: #fff;
}
.our_services_header {
  margin: 85px auto 67px;
}
.our_services h2 {
 
  color: #4e4e4e;
  font-size: 36px;
  font-weight: 400;
}

.services_menu_list {
  height: 73px;
  display: flex;
}
.services_menu_item {
  flex-basis: 16%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(119, 119, 119, 1);
  font-size: 15.986px;
  font-weight: 400;
  line-height: 38.986px;
}


.services_menu_item:hover {
  margin-left: 5px;
  border: 1.5px solid #18cfab;
}
.active_tab{
  color: #FFF;
  background-color: #18CFAB;
  position: relative;
}
.active_tab::after{
  content: url(../img/img/Rectangle\ 60.svg);
  position: absolute;
  top: 59px; 
}
.services_text_container {
  height: 238px;
}
.services_text {
  
  display: none;
}
.active_text{
  display: flex;
  gap: 15px;
  color: #777;
  margin-top: 23px;
  font-size: 13.645px;
  font-weight: 300;
  line-height: 24.366px;
}
/* purchase_section */
.purchase_section_container {
height: 476px;
background:  url(../img/img/Sections-background/layer.png) no-repeat;
background-size: cover;
}
.purchase_section h2{
font-size: 40px;
text-transform: uppercase;
margin-top: 126px; 
}
.purchase_section p{
  color: #D8D8D8;
  line-height: 40px; 
  margin: 12px auto 66px;
}
/* our_amazing_work */
.our_amazing_work{
  height: auto;
  background:#E9EDEF;
  padding-bottom: 99px;
}

.our_amazing_work h2{
  margin-top: 95px;
  color: #4E4E4E;
font-size: 36px;
font-weight: 400;
line-height: 40px; 
margin-bottom: 20px;
}
.works_menu{
  margin-top: 69px;
  
}
.works_menu_list{
  width: 582px;
height: 58px;
  display: flex;
justify-content: center;
align-items: stretch;
}

.works_menu_item{
   color: #717171;
  font-size: 14px;
  font-weight: 400;
  line-height: 42.042px;
  border: 1px solid #DADADA;
  flex-basis: auto;
  padding: 0 14px;
}
.works_menu_item:hover{
  border: 1.5px solid #18cfab; 
}
.works_menu_item:first-child{
  padding: 0 27px 0 29px;
}

.works_img img{
  width: 285px;
  height: 211px;
}
.works_img{
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(3, 211px);
  margin: 71px auto 70px;
}
.btn_load_more{
  background-color: #18CFAB;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 42px; 
  text-transform: uppercase;

  }
.btn_load_more::before{
  content: url(../img/img/Plus.svg);
  margin-right: 15px;
}
.display_none{
  display: none;
}
/* breaking_news */
.breaking_news{
  background: #fff;
  padding: 84px 0 130px;
}
.breaking_news_container{
  height: 744px;
 display: flex;
 flex-wrap: nowrap;
}
.breaking_news h2{
  color: #4E4E4E;
font-size: 36px;
font-weight: 400;
line-height: 40px; 
}
/* blog */
.blog_conteiner{
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(2, 281px);
  row-gap: 45px;
  column-gap: 33px;

}
.post_title{
  color: #717171;
font-size: 17.988px;
font-weight: 700;
line-height: 38.942px; 
}
.post_comments{
  color: #777;
font-size: 13.991px;
font-weight: 300;
line-height: 38.942px;
}
.post_link{
  text-decoration: none;
}
.blog_item{
  position: relative;
}
.block_date{
  width: 70px;
height: 69px;
box-sizing: border-box;
background:rgba(32, 62, 56, 1);
position: absolute;
top:0;
left: 193px;
color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 25px;
padding: 15px 6px 16px;
display: flex;
flex-direction: column;
align-items: center;
}
.blog_item:hover .block_date{
  background: #18CFAB;
}
.blog_item:hover .post_title{
  color: #18CFAB;
}
/* people_say */
.people_say_container{
  height: 853px;
  background: url(../img/img/Sections-background/section-3-mask.png);
}

.people_say h2{
  margin-top: 98px;
  color: #FFF;
font-size: 36px;
font-weight: 400;
line-height: 40px; 
}
.quotes{
  margin-top: 68px;
}
.reviewer_container{
  height: 206px;
  
}
.review_text{
  color: #BBB;
font-size: 16px;
font-weight: 300;
line-height: 30px;
margin: 37px auto ;
text-align: center;
}
.reviewer_name{
  line-height: 27px; 
  text-transform: uppercase;
}
.reviewer_profession{
  color: #BBB;
font-size: 13px;
font-weight: 300;
line-height: 27px;
}

.right_arrow{
  transform: scaleX(-1);
}
.right_arrow:hover{
  background-color: #18CFAB;
}
.left_arrow:hover{
  background-color: #18CFAB;
}

.reviewer_photo{
  margin-top: 50px;
  margin-bottom: 49px;
}
.small_photo{
  height: 60px;
  width: 60px;
    transition: margin-bottom 300ms;
}
.small_photo:hover{
margin-bottom: 15px;
}
.active_reviewer{
  margin-bottom: 15px;
}

.another_reviewer{
  height: 80px;
  display: flex;
  align-items: flex-end;
  gap: 35px;
  margin: 0 33px;

}
.green_border{
  border:  5px solid ;
  border-color: rgba(31, 218, 181, 0.2); 
   border-radius: 50%;
}
.big_border{
  border:  11px solid ;
  border-color: rgba(31, 218, 181, 0.2); 
   border-radius: 50%;
}
/* gallery */
.gallery{
  height: 1366px;
  background: #fff;
}
.gallery h2{
  font-size: 36px;
  font-weight: 400;
line-height: 40px;
margin-top: 95px;
}


.gallery_grid_container{
  margin: 83px auto 52px;
display: grid;
grid-template-columns: repeat(2, 378px) 364px;
grid-template-rows: 263px 97px 53px 73px  81px 162px 72px;
grid-gap: 20px;
}

.gallery_subgrid{
  grid-column: 3;
  grid-row: 1/ span 4;
  display: grid;
  grid-template-columns: 124px 53px 63px 115px;
  grid-template-rows: 168px 92px 92px 92px;
  gap: 3px;
}
.galleri_item_2{
  grid-row: span 2;
}
/* subgrid */
.galleri_item_3{
  grid-column: 1/3;
}
.galleri_item_4{
  grid-column: 3/5;
}
.galleri_item_5{
  grid-column: 1;
  grid-row: 2;
}
.galleri_item_6{
  grid-column: 2/ span 2;
  grid-row: 2;
}
.galleri_item_7{
  grid-column: 4;
  grid-row: 2;
}
.galleri_item_8{
  grid-column: 1;
  grid-row: 3;
}
.galleri_item_9{
  grid-column: 2/ span 2;
  grid-row: 3;
}
.galleri_item_10{
  grid-column: 4;
  grid-row: 3;
}
.galleri_item_11{
  grid-column: 1;
  grid-row: 4;
}
.galleri_item_12{
  grid-column: 2/ span 2;
  grid-row: 4;
}
.galleri_item_13{
  grid-column: 4;
  grid-row: 4;
}


.galleri_item_14{
  grid-column: 3;
  grid-row: 4/span 3;
}
.galleri_item_15{
  grid-column: 1;
  grid-row: 2/span 2;
}

.galleri_item_16{
  grid-column: 2;
  grid-row: 3/span 3;
}
.galleri_item_17{
  grid-column: 1;
  grid-row: 5/span 3;
}
.galleri_item_18{
  grid-column: 2;
  grid-row: 6/span 2;
}





/* footer */
footer{
height: 121px;
width: 100vw;
background-color:#22353F;
margin: 0 auto;
}
.footer_container{
  display: flex;
  align-items: center;
color: #AEAEAE;
font-size: 14px;
font-weight: 300;
line-height: 26px; 
}

